@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* <p>The website work as expected. Test here: <a href="/person">Person</a>.</p> *@
</div>

<p>@Model.ConStr</p>
<p>@Model.AppVal1</p>
<p>@Model.AppVal2</p>
<p>@Model.AppVal3</p>
